.display-none {
  display: none !important;
}

.list-style-none {
  list-style: none;
}
.hidden {
  visibility: hidden !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-center {
  text-align: center !important;
}

.center {
  margin: 0 auto;
}

.display-block {
  display: block;
}

.mb-15 {
  margin-bottom: 15px !important;
}
.mb--15 {
  margin-bottom: -15px !important;
}


.ml-10 {
  margin-left: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.clear-both {
  clear: both;
}

.clickable {
  cursor: hand;
  cursor: pointer !important;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

/* micro clear fix */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}


@import "vendor/bootstrap/bootstrap";

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -ms-box-shadow:     @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}

.text-shadow(@style, @c) when (iscolor(@c)) {
  text-shadow:         @style @c;
  -ms-text-shadow:     @style @c;
  -webkit-text-shadow: @style @c;
  -moz-text-shadow:    @style @c;
}

.transition(@property: padding, @timing_function: ease-in-out, @duration: 0.3s) {
  transition:           @arguments;
  -ms-transition:       @arguments;
  -webkit-transistion:  @arguments;
  -moz-transition:      @arguments;
}

/**
 * non-base rules
 */

body {
  background-image: url(http://subtlepatterns.com/patterns/lined_paper.png);
}

.main-container {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 25px;
  box-shadow: inset 3px 3px 20px #AAA;

  #content {
    box-shadow: 3px 3px 3px #ccc;

    #phase-4 {
      img.dance {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: inset 1px 1px 3px #ccc;
      }
    }
  }
}
  #header {
    margin-bottom: 30px;
    text-align: center;
    h1 {
      text-shadow: 1px 1px 1px #666;
    }
  }

#sidebar {
  box-shadow: 3px 3px 3px #ccc;

  a {
    .transition();
  }

  a:hover {
    padding-left: 20px;
  }

  .sidebar-sub-2 {
    margin-top: 20px;
  }
}



#chart {
  width: 350px;
  height: 200px;
}

.name-result {
  word-wrap: break-word;
}

/*a[href^="http"].favicon:before {
  content: url(http://g.etfv.co/ + attr(href) + );
}*/
